/* 
- CSS 모듈을 사용했을 때
  - 장점: jsx 코드와 CSS 코드 분리, 협업 시 유리, CSS가 영향을 미치는 위치를 해당 CSS 파일을 직접 임포트하는 컴포넌트로 스코핑 가능
  - 단점: CSS를 꼭 알아야만 한다, 작고 많은 CSS 파일들을 갖게 될 가능성이 높다.
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header img {
  object-fit: contain;
  margin-bottom: 2rem;
  width: 11rem;
  height: 11rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  color: #9a3412;
  font-family: 'Pacifico', cursive;
  margin: 0;
}

.paragraph {
  text-align: center;
  color: #a39191;
  margin: 0;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 4rem;
  }

  header h1 {
    font-size: 2.25rem;
  }
}
